html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: 0.4s;
    font-family: 'Roboto', sans-serif;
}

.content {
    min-height: 100%;
    position: relative;
    transition: 0.4s;
    overflow: hidden;
}

.content2 {
    position: fixed;
}

.contentMenu {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #333145 0%, #b8333ef7 100%);
    transition: 0.4s;
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0;
}

.nut {
    color: white;
    float: right;
    padding: 20px;
}

.contentMenu i {
    font-size: 30px;
    cursor: pointer;
}

.contentMenu ul {
    display: block;
    padding: 0;
    list-style: none;
    opacity: 0.9;
    transition: 0.4s;
    margin: 40px;
}

.contentMenu ul li {
    color: #dfe5eb;
    padding: 10px 0;
    cursor: pointer;
    font-size: 20px;
}

.contentMenu ul li i {
    padding-right: 10px;
}

.contentMenu ul li:hover {
    color: #59e9df;
}

.contentMenu ul .sep {
    margin-top: 7px;
    padding-top: 14px;
    border-top: 1px solid #6b7b8d;
}

.menutrai {
    transform: translateX(-100%);
    background: linear-gradient(to bottom, #333145 0%, #b8333ef7 100%);
}

.Menu {
    width: 100%;
    height: 330px;
    background-image: url('https://a3.behance.net/img/site/cta-header.jpg?cb=1127459482');
    position: relative;
}


/*iconMenu*/

.header_desktop {
    position: fixed;
    width: 100%;
    height: 80px;
    background: black;
    transition: 0.3s;
}

.header_mobile {
    position: fixed;
    width: 100%;
    height: 80px;
    background: black;
    transition: 0.3s;
    display: none;
}

.menu1 {
    width: 15%;
    height: 80px;
    float: right;
}

.menu1 i {
    font-size: 30px;
    line-height: 40px;
    cursor: pointer;
}

.doiMauHeader {
    background: #000000c2;
    transition: 0.6s;
    z-index: 999;
}

.logo {
    width: 20%;
    height: 80px;
    display: inline-block;
    float: left;
}
.logo h2 a{
    color: white;
    text-decoration: none;
}
.logo h2 {
    color: white;
    line-height: 40px;
    cursor: pointer;
    opacity: none;
}
.social {
    width: 20%;
    height: 80px;
    float: right;
}

.menuTitle {
    width: 60%;
    height: 80px;
    float: left;
    line-height: 80px;
}

.menuTitle ul li {
    list-style: none;
    padding-right: 15px;
    display: inline-block;
    line-height: 80px;
    color: white;
    cursor: pointer;
    transition: 0.4s;
    font-size: 17px;
}

.menuTitle ul li:hover {
    color: #dbd0d0;
}


/*Social Facebook google*/

.box-container {
    display: inline-block;
    float: right;
}

.iconSub {
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    cursor: pointer;
    display: inline-block;
    float: right;
    margin-top: 25px;
}

.iconSub i {
    font-size: 25px;
    line-height: 30px;
    transition: 0.5s;
    color: white;
}

.social-thump {
    display: inline-block;
    line-height: 80px;
}

.icon {
    display: inline-block;
    width: 10px;
    height: 30px;
    cursor: pointer;
    transition: 0.4s;
    opacity: 0;
}

.icon i {
    color: white;
    margin: 0 auto;
    line-height: 30px;
    transition: 0.5s;
    font-size: 15px;
}

.box-container:hover .iconSub i {
    color: #b1b239f5;
}

.box-container:hover .icon {
    margin-right: 20px;
    opacity: 1;
}


.box-container:hover .twi {
    transition-delay: 0.6s;
}
.box-container:hover .fb {
    transition-delay: 0.5s;
}
.box-container:hover .gg {
    transition-delay: 0.4s;
}

.box-container:hover .ig {
    transition-delay: 0.3s;
}

.fb i:hover {
    color: #638bdc;
}

.gg i:hover {
    color: #df736b;
}

.ig i:hover {
    color: #db678a;
}
.twi i:hover{
    color: #52cbff;
}


/*end Social facebook google*/

.burger {
    display: inline-block;
    border: 0;
    background: none;
    outline: 0;
    padding: 0;
    cursor: pointer;
    border-bottom: 4px solid currentColor;
    width: 28px;
    transition: border-bottom 1s ease-in-out;
    -webkit-transition: border-bottom 1s ease-in-out;
}

.burger:before {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger:after {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger-check {
    display: none;
}

.burger-check:checked~.burger {
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.8s ease-in-out;
    -webkit-transition: border-bottom 0.8s ease-in-out;
    color: white
}

.burger-check:checked~.burger:before {
    transform: rotate(-405deg) translateY(1px) translateX(-3px);
    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    color: white
}

.burger-check:checked~.burger:after {
    transform: rotate(405deg) translateY(-4px) translateX(-5px);
    -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    color: white;
}



/*End iconMenu*/


/*Social Facebook google*/

.box-container {
    display: inline-block;
    float: right;
}

.iconSub {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    cursor: pointer;
    display: inline-block;
    float: right;
}

.iconSub i {
    font-size: 25px;
    line-height: 30px;
    transition: 0.5s;
    color: #c8c977f5;
}

.social-thump {
    display: inline-block;
}

.icon {
    display: inline-block;
    width: 10px;
    height: 30px;
    cursor: pointer;
    transition: 0.4s;
    opacity: 0;
}

.icon i {
    color: white;
    margin: 0 auto;
    line-height: 30px;
    transition: 0.5s;
    font-size: 15px;
}

.box-container:hover .iconSub i {
    color: #b1b239f5;
}

.box-container:hover .icon {
    margin-right: 20px;
    opacity: 1;
}

.twi {
    transition-delay: 0.4s;
}
.fb {
    transition-delay: 0.3s;
}

.gg {
    transition-delay: 0.2s;
}

.ig {
    transition-delay: 0.1s;
}

.box-container:hover .fb {
    transition-delay: 0.5s;
}

.box-container:hover .gg {
    transition-delay: 0.4s;
}

.box-container:hover .ig {
    transition-delay: 0.3s;
}

.fb i:hover {
    color: #638bdc;
}

.gg i:hover {
    color: #df736b;
}

.ig i:hover {
    color: #db678a;
}


/*end Social facebook google*/


/*phan trong menu*/


/*  Chua can dung toi no*/


/*.burger-check:checked~.Chil_menu {
    height: 200px;
    transition: 0.6s;
}

.Chil_menu {
    width: 28px;
    height: 0px;
    transition: 0.6s;
    overflow: hidden;
}

.Chil_menu div {
    width: 100%;
    height: 30px;
    margin-top: 22px;
}

.Chil_menu div i {
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.Chil_menu div i:hover {
    color: #ff5200;
    transition: 0.4s;
}*/


/* End Chua can dung toi no*/

.bannerTitle h1 {
    text-transform: uppercase;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
}


/*.menuTitle ul li{
    list-style: none;
    display: inline-block;
    padding:0 0 15px 15px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.4s;
}
.menuTitle ul li:hover{
    color: #ccc;
}*/


/*End phan trong menu*/


/*Phan layout*/

.phanLayout {
    height: 60px;
}


/*End Phan Layout*/


/*Noi dung*/

.noidung {
    overflow: auto;
    padding-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



/*Trang thai binh thuong cua thang post*/
.post{
    cursor: pointer;
    position: relative;
    overflow-y: hidden;
    width: 290px;
    height: 350px;
    padding: 10px;
    box-shadow: 
        0 1px 3px rgba(0,0,0, 0.12),
        0 1px 2px rgba(0,0,0, 0.24); 
    margin: 0 auto;
    margin-top: 30px;
}
.imgPost{
    height: 50%;
}
.imgPost img{
    width: 100%;
    height: 100%;
}
.titlePost{
    height: 50%;
}
.titlePost h4{
    transition: 0.4s;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}
.time{
    margin-top: 10px;
    margin-left: 10px;
    color: #00000082;
}
.titlePost h4:hover{
    color: #2980b9;
}
.spoiler{
    margin-left: 10px;
}
.title a{
    color: black;
    text-decoration: none;
}
/* End Trang thai binh thuong cua thang post*/


/*Trang thai sau khi hover*/



/*Footer*/

.footer {
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: black;
}

.footer p {
    line-height: 80px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: 0;
}


/*End Footer*/


/* RESPONSIVE CSS mobile*/

@media only screen and (max-width: 1024px) {
    .Menu{
        width: 100%;
        height: 80px;
        position: relative;
        background: none;
        z-index: 99;
    }
    .menuTitle {
        display: none;
    }
    .social {
        display: none;
    }
    .header_desktop {
        display: none;
    }
    .header_mobile {
        display: inline;
    }
}


/* END RESPONSIVE CSS*/
/*RESPONSIVE CSS Desktop*/
/* END RESPONSIVE CSS Desktop*/