html,body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
.bai_viet_moi{
	width: 84%;
	height: 100%;
	box-sizing: border-box;
	float: left;
	background: #f1f1f1;
}
.nav_menu{
	width: 16%;
	height: 100%;
	background: #32373c;
	box-sizing: border-box;
	z-index: 99;
	float: left;
}
.menu{
	margin-top: 30px;
}
.menu li{
	list-style: none;
	color: #ccc;
	padding-top: 10px;
	cursor: pointer;
	transition: 0.4s;
}
.menu li:hover{
	color: #0073aa;
}
.menu li i{
	margin-right: 10px;
}
.editer{
	width: 80%;
	height: 85%;
	background: white;
	margin-top: 40px;
}