/*Nav menu*/
.slide-menu{
    height: 100%;
    background: #556270;
    width: 300px;
    left: 0px;
    top: 0;
    display: block;
    position: fixed;
    transition: 0.4s;
    z-index: 99;
}
.menutrai{
    transform: translateX(-100%);
}
.dichphai{
    transform: translateX(300px);
}
.slide-menu ul{
    display: block;
    padding: 0;
    list-style: none;
    opacity: 0.9;
    transition: 0.4s;
    margin: 40px;
}
.slide-menu ul li{
    color: #dfe5eb;
    padding: 10px 0;
    cursor: pointer;
    font-size: 20px;
}
.slide-menu ul li i{
    padding-right: 10px;
}
.slide-menu ul li:hover{
    color:  #59e9df;
}
.slide-menu ul .sep{
    margin-top: 7px;
    padding-top: 14px;
    border-top: 1px solid #6b7b8d;
}
/*end navMenu*/