/*html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.menuWp{
	width: 100px;
	height: 100%;
	background: #131519;
	position: fixed;
	float: left;
}
.menuWp ul{
	width: 100%;
	height: 100px;
	list-style: none;
	padding-top: 10px;
	cursor: pointer;
}
.menuWp ul li{
	width: 100%;
	height: 100%;
	
}
.menuWp-ul-hover:hover{
	background: black;
	border-right: 2px solid red;
}
.menuWp ul li p{
	color: #4a5261;
	padding-right: 50px;
}
.icon{
	font-size: 35px;
	width: 100%;
	height: 50%;
}
.main{
	width: 100%;
	height: 100%;
	background: #83b0b9;
	float: left;
}
.main .cd-title h2{
	text-align: center;
	color: white;
	margin-top: 20%;
}
.mautrang{
	background: white;
}
.nenChayRa{
	animation: nenra 0.4s forwards;
}
@-webkit-keyframes nenra{
	from{
		transform: translateX(-100%);
		opacity: 0;
	}to{
		transform: translateX(0);
		opacity: 1;
	}
}*/
/*.icon{
	width: 20px;
	height: 30px;
	float: right;
	cursor: pointer;
	transition: 0.6s;
	transition: all 500ms cubic-bezier(0.840, 0.895, 0.670, 0.740);
	background: pink;
}
.bongDo{
	opacity: 1;
	background: red;
}
.bongXanh{
	opacity: 1;
	background: blue;
}
.bongCam{
	opacity: 1;
	background: blue;
}
.bongHong{
	width: 20px;
	height: 30px;
	border: 1px solid blue;
	position: absolute;
	float: right;
}
.box-container{
	display: inline-block;
	float: right;
}*/
/*.box-container:hover .icon{
	width: 30px;
	margin-right: 20px;
}
.box-container:hover .bongDo{
	background: red;
	border-radius: 100%;
	opacity: 1;
}
.box-container:hover .bongXanh{
	background: blue;
	border-radius: 100%;
	opacity: 1;
}
.box-container:hover .bongCam{
	background: orange;
	border-radius: 100%;
	opacity: 1;
}
.box-container:hover .share{
	opacity: 0;
}*/
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.content{
	width: 100%;
	height: 100%;
	transition: 0.4s;
	background: #e3e3e3;
	position: absolute;
	transform-origin: 100% 0%;
}	
.content2{
    /*margin: 0 auto;
    transform: scaleX(0.95);
    margin-top: 25px;*/
    
	transform: rotateY(15deg);
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.12),
            0 10px 30px 0 rgba(0,0,0,0.08);
}
.contentMenu{
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, #333145 0%, #b8333ef7 100%);
	transition: 0.4s;
	position: absolute;
	display: block;
}
.contentMenu ul{
	display: block;
    padding: 0;
    list-style: none;
    opacity: 0.9;
    transition: 0.4s;
    margin: 40px;
}
.contentMenu ul li{
    color: #dfe5eb;
    padding: 10px 0;
    cursor: pointer;
    font-size: 20px;
}
.contentMenu ul li i{
    padding-right: 10px;
}
.contentMenu ul li:hover{
    color:  #59e9df;
}
.contentMenu ul .sep{
    margin-top: 7px;
    padding-top: 14px;
    border-top: 1px solid #6b7b8d;
}
.menutrai{
	transform: translateX(-100%);
	background: linear-gradient(to bottom, #333145 0%, #b8333ef7 100%);
}
.contentMenu i{
	font-size: 30px;
	color: white;
}
.fa{
	cursor: pointer;
	color: white;
}
.xoa{
	transition: 0.4s;
	transform: translateX(-100%);
}
.nut{
	color: black;
	padding: 20px;
	float: right;
}
.content i{
		font-size: 30px;
}